.env
/__pycache__/
*.pyc
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
venv_desktop/
ENV/
.venv


# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment variables
.env

# DivertyCam Desktop
divertycam_desktop/data/
divertycam_desktop/media/
divertycam_desktop/logs/