
<table id="evento-table" class="table table-hover align-middle">
            <thead>
              <tr>
                <th>Categoría</th>
                <th>Nombre</th>
                <th>Cliente</th>
                <th>Fecha y Hora</th>
                <th>Servicios</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
  {% for evento in eventos %}
  <tr>
    <td>{{ evento.categoria }}</td>
    <td><strong>{{ evento.nombre }}</strong></td>
    <td class="d-flex align-items-center gap-2">
      <div class="avatar-circle" title="{{ evento.cliente.nombre }} {{ evento.cliente.apellido }}">
        {{ evento.cliente.nombre|slice:":1" }}{{ evento.cliente.apellido|slice:":1" }}
      </div>
      <div>
        {{ evento.cliente.nombre }} {{ evento.cliente.apellido }}
      </div>
    </td>
    <td>{{ evento.fecha_hora|date:"d/m/Y H:i" }}</td>
    <td>
      {% for servicio in evento.servicios %}
      <span class="badge bg-primary">{{ servicio }}</span>
      {% endfor %}
    </td>
    <td>
        {% if request.user.is_superuser %}
      <div class="btn-group" role="group">
        <a href="{% url 'evento_detail' evento.pk %}" class="btn btn-sm btn-outline-negro" title="Ver">
          <i class="fa-solid fa-eye"></i>
        </a>
        <a href="{% url 'evento_update' evento.pk %}" class="btn btn-sm btn-outline-negro" title="Editar">
          <i class="fa-solid fa-pen"></i>
        </a>
           <form action="{% url 'evento_delete' evento.pk %}" method="post" class="d-inline form-eliminar-evento" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-outline-negro" title="Eliminar" style="border:none; background:none; padding:0;">
                    <i class="fa-solid fa-trash"></i>
                    </button>
            </form>
        {% endif %}
         {%  if request.user.is_superuser or not request.user.is_superuser %}
        <a href="{% url 'descargar_foto' evento.pk %}" class="btn btn-sm btn-outline-negro" title="Ver fotografías">
          <i class="fa-solid fa-images"></i>
        </a>
        {% endif %}
      </div>
    </td>
  </tr>
  

  {% endfor %}
</tbody>
          </table>

